---
page_title: "Tilgangsportalen Provider"
subcategory: ""
description: |-
  This provider is used to create roles and security groups in Tilgangsportalen
---

# Tilgangsportalen Provider

{{.Description}}

## Example Usage

{{tffile .ExampleFile}}

## Environment variables

The following configuration attributes can be passed via environment variables:

|   Argument | Environment variable        |
| ---------: | --------------------------- |
|  `hosturl` | `TILGANGSPORTALEN_URL`      |
| `username` | `TILGANGSPORTALEN_USERNAME` |
| `password` | `TILGANGSPORTALEN_PASSWORD` |

{{.SchemaMarkdown}}